.app {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 180px 0 0;
  font-family: 'Helvetica' 'Arial' sans-serif;
}

.app__header {
  width: 450px; 
  height: 97px;
  margin: 0 auto;
}

.app__header img {
  width: 100%;
}

.app__h2 {
  font-size: 72px;
  color: #fff;
  margin: 29px 0 0;
  text-align: center;
  letter-spacing: 10px;
}

.app__search {
  display: block;
  width: 53.33333%;   
  font-size: 20px;
  font-style: italic;
  line-height: 1.2;
  color: #9b9b9b;
  padding: 16px 30px;
  border-radius: 9px;
  margin: 45px auto 0;
  border: none;
}

.image-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.image-tile {
  margin: 27px 0 0;
}
